fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

langchain
langchain-community
langchain-groq
langgraph
groq
tavily-python

faiss-cpu
sentence-transformers

pypdf
python-docx
openpyxl
beautifulsoup4
requests
lxml